/BookShelf/.vs
/BookShelf/BookkShelf.Model/bin
/BookShelf/BookkShelf.Model/obj
/BookShelf/BookShelf.Api/bin
/BookShelf/BookShelf.Api/obj
/BookShelf/BookShelf.Dal/bin
/BookShelf/BookShelf.Dal/obj
/BookShelf/BookShelf.Orchestartor/bin
/BookShelf/BookShelf.Orchestartor/obj
