/BookShelf/.vs
/BookShelf/BookShelf.Dal/bin
/BookShelf/BookShelf.Dal/obj
/BookShelf/BookShelf.Model/bin
/BookShelf/BookShelf.Model/obj
/BookShelf/BookShelf.Orchestrator/bin
/BookShelf/BookShelf.Orchestrator/obj
/BookShelf/BookShelf/bin
/BookShelf/BookShelf/obj
/BookShelf/BookkShelf.Model/obj
/BookShelf/BookkShelf.Model/bin
/BookShelf/BookShelf.Api/bin
/BookShelf/BookShelf.Api/obj
/BookShelf/BookShelf.IntegrationTest/obj
/BookShelf/BookShelf.IntegrationTests/bin
/BookShelf/BookShelf.IntegrationTests/obj
/BookShelf/BookShelf.Orchestartor/obj
/BookShelf/BookShelf.OrchestartorTests/bin
/BookShelf/BookShelf.OrchestartorTests/obj
